@model CakeShop.Models.Order
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user_id" class="control-label"></label>
                <input asp-for="user_id" class="form-control" />
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="note" class="control-label"></label>
                <input asp-for="note" class="form-control" />
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="district" class="control-label"></label>
                <input asp-for="district" class="form-control" />
                <span asp-validation-for="district" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ward" class="control-label"></label>
                <input asp-for="ward" class="form-control" />
                <span asp-validation-for="ward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="delivery_money" class="control-label"></label>
                <input asp-for="delivery_money" class="form-control" />
                <span asp-validation-for="delivery_money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="order_date" class="control-label"></label>
                <input asp-for="order_date" class="form-control" />
                <span asp-validation-for="order_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="status" /> @Html.DisplayNameFor(model => model.status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="total_money" class="control-label"></label>
                <input asp-for="total_money" class="form-control" />
                <span asp-validation-for="total_money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

