@{
    ViewData["Title"] = "Home Page";
}

<div class="homebody">
     <div class="homepagepic slick-initialized slick-slider">
        <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 938px; transform: translate3d(-134px, 0px, 0px);">
                <img src="./img/headerhomepage3.png" alt="Homepic" width="100%" height="250" class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 134px;" tabindex="-1">
                <img src="./img/headerhomepage1.png" alt="Homepic" width="100%" height="250" class="slick-slide slick-current slick-active" data-slick-index="0"
                     aria-hidden="false" style="width: 134px;" tabindex="0">
                <img src="./img/headerhomepage2.png" alt="Homepic" width="100%" height="250" class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 134px;" tabindex="-1">
                <img src="./img/headerhomepage3.png" alt="Homepic" width="100%" height="250" class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 134px;" tabindex="-1">
                <img src="./img/headerhomepage1.png" alt="Homepic" width="100%" height="250" class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 134px;" tabindex="-1">
                <img src="./img/headerhomepage2.png" alt="Homepic" width="100%" height="250" class="slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 134px;" tabindex="-1">
                <img src="./img/headerhomepage3.png" alt="Homepic" width="100%" height="250" class="slick-slide slick-cloned" data-slick-index="5" aria-hidden="true"
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn. jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src=" ./js/roll.js"></script>

    <div class="main">
        <h1 class="">New-in <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></h1>
    </div>
    <div class="item1">
        <div class="col">
            <a class="namecake" href="">
                <div class="image-container">
                    <img src="" alt="pic" width="250" height="250" style="margin-bottom:10px">
                    <div>
                        <form method="POST" action="">
                            <input type="hidden" name="product_id" value="">
                            <input type="hidden" name="title" value="">
                            <input type="hidden" name="price" value="">
                            <input type="hidden" name="discount_price" value="">
                            <input type="hidden" name="thumbnail" value="">
                            <input type="hidden" name="description" value="">
                            <input type="hidden" name="quantity" value="1" min="1">
                            <input type="submit" name="add_to_cart" value="ADD TO CART" class="add-to-cart">
                        </form>
                    </div>
                </div>
                <br><i>Tieu de <br> gia đ </i>
            </a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" type="text/javascript"></script>
    <script src="./js/roll.js"></script>
    <script>
        function showOnScroll() {
            var popUps = document.querySelectorAll('.mainname');
            var windowHeight = window.innerHeight;
            var revealPoint = 200;

            for (var i = 0; i < popUps.length; i++) {
                var popUpTop = popUps[i].getBoundingClientRect().top;

                if (popUpTop < windowHeight - revealPoint) {
                    popUps[i].classList.add('show');
                }
            }
        }

        window.addEventListener('scroll', showOnScroll);
    </script>


<hr border="2">

    <div class="main">
        <h1 class="mainname">Best-seller <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></h1>
    </div>
    <div class="item1" style="padding-bottom: 40px">
            @* duyet ds sp *@  
            <div class="col">
                <a class="namecake" href="">
                    <div class="image-container">
                        <img src="" alt="pic" width="250" height="250" style="margin-bottom:10px">
                        <div>
                            <form method="POST" action="">
                                <input type="hidden" name="product_id" value="">
                                <input type="hidden" name="title" value="">
                                <input type="hidden" name="price" value="">
                                <input type="hidden" name="discount_price" value="">
                                <input type="hidden" name="thumbnail" value="">
                                <input type="hidden" name="description" value="">
                                <input type="hidden" name="quantity" value="1" min="1">
                                <input type="submit" name="add_to_cart" value="ADD TO CART" class="add-to-cart">
                            </form>
                        </div>
                    </div>
                    <br><i>tieu de <br>gia đ </i>
                </a>
            </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="./js/roll.js"></script>


    <table>
        <tr>
            <td class="border"></td>
            <td class="text">
                <h1 class="intext">About us</h1>
                <i style="font-size: 120%"> Mỗi chiếc bánh là một câu chuyện riêng<br>với hơi thở và tinh thần chẳng thể<br>lẫn vào đâu được.</i>
            </td>
            <td class="image">
                <img src="./img/aboutus.png" alt="pic" width="520" height="300">
            </td>
        </tr>
    </table>

    <script>
        function showOnScroll() {
            var popUps = document.querySelectorAll('.image');
            var windowHeight = window.innerHeight;
            var revealPoint = 200;

            for (var i = 0; i < popUps.length; i++) {
                var popUpTop = popUps[i].getBoundingClientRect().top;

                if (popUpTop < windowHeight - revealPoint) {
                    popUps[i].classList.add('show');
                }
            }
        }

        window.addEventListener('scroll', showOnScroll);
    </script>
