<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]CakeShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CakeShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushina">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Libraries Stylesheet -->
    <link href="./lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="./css/style.css" rel="stylesheet">
</head>
<body style="background-color:#fff7e6">
    <div class="container-fluid" >
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5" style="background-color: #F1DBBF;">
            <div class="col-lg-2 col-6">
                <a href="/Home" class="text-decoration-none">
                    <img src="~/img/Header-logo.png" class="img-fluid logo" alt="Logo" style="max-width: 140px; height:90px">
                </a>
            </div>
            <div class="col-lg-5 col-6">
                <section class="menu">
                    <div class="container-fluid pt-3 navbarne">
                        <div class="row">
                            <nav class="navbar navbar-expand-lg" style="padding-top: 0; padding-bottom: 0">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="navbar-nav ps-3 navbarr">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home" style="padding-top: 0; color:#4d2600;">Trang Chủ</a>
                                        </li>
                                        @await Component.InvokeAsync("Navbar")
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="/Aboutus" style="padding-top: 0; color:#4d2600;">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="/Contact" style="padding-top: 0; color:#4d2600;">Liên Hệ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="/News" style="padding-top: 0; color:#4d2600;">Tin Tức</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-6 text-left">
                <form asp-action="Search" asp-controller="Products">
                    <div class="input-group">
                        <input type="text" name="keywords" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <button type="submit" class="fa fa-search"></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-2 col-6 text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="" class="btn border">
                        <i class="fas fa-heart text-primary"></i>
                        <span class="badge">0</span>
                    </a>
                    @await Component.InvokeAsync("CartWidget")
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </div>
 </div>

                                            
                                                 
    
    <div class="container">
        <main role="main" class="col-md-12">
            @RenderBody()
        </main>
    </div>

    <section class="myfooter" style="background-color :#F1DBBF  ;color: #4d2600; font-family: Segoe UI;">
        <div class="container fs-4 py-3 text-center">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/img/Header-logo.png" class="img-fluid logo" alt="Logo" style="max-width: 240px;">
                </div>
                <div class="col-md-3">
                    <h2>ĐỊA CHỈ</h2>
                    <div><i class="bi bi-house-heart"></i><span style="font-size: 16px;"> Số 09 Trần Thái Tông, P. Dịch Vọng, Q. Cầu Giấy, TP. Hà Nội</span></div>
                    <div><i class="bi bi-telephone"></i><span style="font-size: 16px;"> 0353780187</span></div>
                </div>
                <div class="col-md-4">
                    <h2>CHÍNH SÁCH</h2>
                    <ul>
                        <li><a href="#" style="font-size: 18px; color: #4d2600;" class="chinhsach">Chính sách và quy định chung</a></li>
                        <li><a href="#" style="font-size: 18px; color: #4d2600;" class="chinhsach">Chính sách giao dịch, thanh toán</a></li>
                        <li><a href="#" style="font-size: 18px; color: #4d2600;" class="chinhsach">Chính sách đổi trả</a></li>
                        <li><a href="#" style="font-size: 18px; color: #4d2600;" class="chinhsach">Chính sách bảo mật</a></li>
                        <li><a href="#" style="font-size: 18px; color: #4d2600;" class="chinhsach">Chính sách vận chuyển</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h2>FOLLOW US</h2>
                    <ul>
                        <li><a href="#" style="font-size: 18px; color: #4d2600; font-family: Segoe UI;"><i class="bi bi-facebook"></i> iuladay</a></li>
                        <li class="mailfooter"><a href="#" style="font-size: 18px; color: #4d2600; font-family: Segoe UI;"><i class="bi bi-envelope"></i><span style="font-size: 16px;"> iuladay@bake.com</span></li></a>
                    </ul>
                </div>
            </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./lib/easing/easing.min.js"></script>
    <script src="./lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="./mail/jqBootstrapValidation.min.js"></script>
    <script src="./mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="./js/main.js"></script>

    <!-- jQuery Plugins -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
