@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="thankyoubody">
    <div class="container">
        <ion-icon name="checkmark-circle-outline" style="font-size:50px; position:relative; left: 50%; transform: translateX(-50%);"></ion-icon>
        <h1>Đặt hàng thành công!</h1>
        <p>Cảm ơn bạn đã tin tưởng và đặt hàng. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để xác nhận đơn hàng thông qua email.</p>
        <p>Rất mong được phục vụ bạn trong tương lai!</p>
        <button class="button"><a href="/Home" style="text-decoration: none; color:#4d2600; font-family:'Segoe UI';">Trang chủ</button>
    </div>
</div>